.children-dashboard {
  display: flex;
  flex-direction: column;
  padding: var(--spacing);

  &__items {
    display: flex;
    flex-direction: row;
    gap: var(--spacing);
  }

  &__actions {
    display: flex;
    justify-content: end;
    align-items: end;
  }
}