.notif-card {
  display: flex;
  flex-direction: column;
  height: 14em;
  overflow: hidden;
  background-color: rgb(240, 242, 255);
  box-shadow: 0rem 0.4rem 0.7rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
  gap: 0.3em;
  padding: 1em;
  border-radius: var(--border-radius);
  position: relative;

  &__title {
    font-size: 1.2em;
    font-weight: 600;
    color: var(--color-white);
  }

  &__body {
    font-size: 0.8em;
    white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(255, 255, 255, 0.9);
    line-height: 1.4em;
    max-height: calc(1.4em * 4);
  }

  &__button {
    display: flex;
    height: var(--element-height);
    // justify-content: end;
    position: absolute;
    bottom: 1em; 
    right: 1em; 
  }
}

.notif-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30em;
  width: 40em;
}

.scollable {
  overflow-y: auto;
  max-height: 100%;
}

.LOW {
  background: linear-gradient(110deg, var(--color-primary-hover) 85%, var(--color-secondary) 60%);
}

.MEDIUM {
  background: linear-gradient(110deg, var(--color-warning-hover) 85%, var(--color-warning) 60%);
}

.HIGH {
  background: linear-gradient(110deg, var(--color-important-hover) 85%, var(--color-important) 60%);
}