.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: var(--element-height);

  font-family: var(--typeface-main);
  cursor: pointer;

  border: 1px solid;

  &--rounded {
    border-radius: var(--border-radius-sm);
  }

  &--primary {
    color: var(--color-white);
    border: 1px solid var(--color-primary);
    background-color: var(--color-primary);
  }

  &--circle {
    font-family: var(--typeface-alt);
    width: 1.5em;
    height: 1.5em;
    font-size: 3.5em;
    color: var(--color-white);
    border-radius: 50%;
  }

  &.animated:hover {
    background-color: var(--color-primary-hover);
    border: 1px solid var(--color-primary-hover);
  }

  &--large {
    max-width: 15em;
  }

  &--medium {
    max-width: 10em;
  }

  &--small {
    max-width: 5em;
  }

  &--icon {
    width: var(--element-height);
  }

  &--secondary {
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    background-color: var(--color-white);

    &.animated:hover {
      color: var(--color-white);
      border: 1px solid var(--color-primary);
      background-color: var(--color-primary);
    }
  }

  &--tertiary {
    color: var(--color-white);
    border: 1px solid var(--color-focus);
    background-color: var(--color-focus);

    &.animated:hover {
      color: var(--color-focus);
      border: 1px solid var(--color-focus);
      background-color: var(--color-white);
    }
  }

  &--short {
    height: 2.5rem;
  }

  &--tall {
    height: 4.2rem;
  }

  &--disabled {
    border-style: dashed;
    filter: opacity(50%);
  }
}
