.field {
  height: var(--element-height);
  width: 100%;
  padding: 0 var(--spacing-small);

  font-family: var(--typeface-main);
  font-size: 1.2em;

  border: 1px solid var(--color-primary);
  background-color: var(--color-white);
  outline: none;

  &__label--textarea,
  &__label {
    position: absolute;
    left: var(--spacing-small);

    color: var(--typeface-color-light);
    letter-spacing: 1px;

    pointer-events: none;
    transition: all var(--transition-fast) ease;
  }

  &__label--textarea {
    top: var(--spacing-small);
  }

  &__container {
    position: relative;

    &textarea:focus ~ label,
    textarea:valid ~ label,
    &input:focus ~ label,
    input:valid ~ label:not(.field__label--fade) {
      transform: translate(-0.4em, -2.4em);
      color: var(--color-white);
      font-size: 0.9em;
      letter-spacing: 0;
    }

    input:valid ~ label.field__label--fade {
      display: none;
    }
  }

  &--dropdown {
    height: 56px;
  }

  &--nopad {
    padding: 0;
  }

  &--rounded {
    border-radius: var(--border-radius-sm);
  }

  &--large {
    min-width: 25rem;
  }

  &--medium {
    width: 15rem;
  }

  &--small {
    width: 10rem;
  }

  &--tall {
    height: 4.2rem;
  }

  &--textarea {
    height: 100%;
    min-height: 9em;
  }

  &__icon {
    position: absolute;
    top: 22%;
    left: 0.6em;
    z-index: 1000;
  }

  &--disabled {
    border-style: dashed;
    filter: opacity(50%);
  }

  &:disabled {
    opacity: 50%;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  &.animated:hover {
    border: 1px solid var(--color-focus);
  }

  &:focus {
    border: 1px solid var(--color-focus);
  }

  &::placeholder {
    color: var(--typeface-color-light);
  }

  &__eye-icon {
    position: absolute;
    top: 22%;
    right: 0.6em;
    z-index: 1000;
    cursor: pointer;
  }

  &__tooltip {
    top: 17%;
    right: 0.3em;
  }
}
