.logo {
  height: 100%;
  display: flex;
  gap: var(--spacing-small);
  text-decoration: none;

  &__img {
    max-height: 90%;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__brand {
    text-justify: center;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-white);
    &--lt {
      font-weight: 400;
      color: hsl(0, 0%, 100%, 0.9);
      text-transform: none;
    }
  }
}
