.notif-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  align-items: start;
  justify-content: start;
  gap: 1em;
  padding: 1em;
  overflow-y: auto;
}

/* @media (max-width: 800px) {
  .notif-grid {
    grid-template-columns: 1fr;
  }
} */

@media (max-width: 1000px) {
  .notif-grid {
    grid-template-columns: 1fr;
  }
}