.modalito {
  .MuiDialog-paper {
    /* height: minmax(30vh, 100%);
    max-height: 50vh; */
    padding: 20px;
    border-radius: var(--border-radius-sm);
    border: 2.5px solid var(--color-primary);
  }

  &__form {
    max-width: 100%;
  }

  &__actions {
    width: 100%;
  }

  &__header {
    gap: var(--padding-xs);
  }
}