.modalito {
  .MuiDialog-paper {
    padding: 20px;
    border-radius: var(--border-radius);
  }

  &__form {
    max-width: 100%;
  }

  &__actions {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 1em;
  }

  &__header {
    gap: var(--padding-xs);
    p {
      color: var(--color-primary);
      font-family: var(--typeface-main);
      font-weight: 800;
    }
  }
}
