/* creo que aca puedo poner nombres de clases para despues usar en los componentes padre */
@import '../App.scss';

.button {
  border-radius: 4px;
  font-weight: bold;
  outline: none;
  padding: 0.8em 1.5em;
  border: none;
}

.buttonsInParentDashboard {
  display:grid;
  align-items: center;
  justify-content: space-evenly;
}

.buttonsToRightEnd {
  display: flex;
  justify-content: end;
}

.button1{
  background-color: var(--color-primary);
  color: var(--color-on-primary);
}

.buttonReturn{
  background-color: var(--color-secondary);
  color: var(--color-on-secondary);
  align-content: flex-end;
}

.forAllButtons{
  border-radius: 10%;
  box-shadow: 2px 2px 2px 2px black;
}

.button1:hover{
box-shadow: 0 0 5px var(--color-on-secondary) ,
            0 0 25px var(--color-on-secondary),
            0 0 25px var(--color-on-secondary),
            0 0 50px var(--color-on-secondary);
  
}

.buttonReturn:hover{
  box-shadow: 0 0 5px var(--color-on-background),
              0 0 25px var(--color-on-background),
              0 0 25px var(--color-on-background),
              0 0 50px var(--color-on-background);
            }