/* creo que aca puedo poner nombres de clases para despues usar en los componentes padre */

.button {
  border-radius: 4px;
  font-weight: bold;
  outline: none;
  padding: 0.8em 1.5em;
  border: none;
}

.buttonsInParentDashboard {
  display:grid;
  align-items: center;
  justify-content: space-evenly;
}

.buttonsToRightEnd {
  display: flex;
  justify-content: end;
}
/* .cali {
  color: white;
  background-color: black;
  outline: saddlebrown, solid;
} */
/* .secondary {
  color: white;
  background-color: #9177d0;
  border: solid;
  border-color: #481db1;
 }   */

/* .buttonsInNewPage{
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-evenly;
} */

.button1{
  background-color: yellow;
}

.button2{
  background-color: lightgreen;
}

.button3{
  background-color: violet;
}

.button4{
  background-color: aqua;
}

.buttonReturn{
  background-color: cadetblue;
  align-content: flex-end;
}

.forAllButtons{
  border-radius: 10%;
  box-shadow: 2px 2px 2px 2px black;
}

.button1:hover{
box-shadow: 0 0 5px yellow,
            0 0 25px yellow,
            0 0 25px yellow,
            0 0 50px yellow;
  
}

.button2:hover{
  box-shadow: 0 0 5px lightgreen,
              0 0 25px lightgreen,
              0 0 50px lightgreen,
              0 0 200px lightgreen;    
}

.button3:hover{
  box-shadow: 0 0 5px violet,
              0 0 25px violet,
              0 0 25px violet,
              0 0 50px violet;
}
.button4:hover{
  box-shadow: 0 0 5px aqua,
              0 0 25px aqua,
              0 0 25px  aqua,
              0 0 50px  aqua;
}
.buttonReturn:hover{
  box-shadow: 0 0 5px cadetblue,
              0 0 25px cadetblue,
              0 0 25px  cadetblue,
              0 0 50px  cadetblue;
            }