@import '../App.scss';
.footer {
  background-color: var(--color-primary);/* #a4c991;*/
  padding: 10px 20 px;
  color: var(--color-on-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}