@import '../App.scss';

.nav {
  background-color: var(--color-primary);  /*  #a4c991; */
  padding: 1.2em;
  color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  transition: top 500ms ease-in-out;
  z-index: 1;
}

.nav-title {
  padding-left: 1em;
  padding-top: 1em;
  margin: 0;
  color: var(--color-on-primary);
}

.nav-links a {
  display: inline-block;
  margin: 0 1em;
  color: #fff;
  /* font-size: 1rem; */
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.nav a {
  text-decoration: none;
  color: #fff;
}

.notification {
  color: white;
  display: inline-block;
  position: relative;
  padding: 2px 5px;
  font-size: 1.2rem;
}

.notification__badge {
  background-color: #fa3e3e;
  border-radius: 2px;
  color: white;
  padding: 1px;
  font-size: 10px;
  position: absolute;
}
.left_logo {
  max-width: 100px;
  height: auto;
}
.left-group-container{
   display: flex;
}