.notifications {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  padding: var(--spacing-small);
  width: 100%;
  height: 100%;

  &__title {
    text-transform: uppercase;
  }

  &__body {
    height: 100%;
  }

  &__body-list {
    display: flex;
    flex-direction: column;
    padding: var(--spacing);
    gap: var(--spacing-small);
    font-size: 1.3em;
    margin: 0;
    max-width: 45vw;
  }

  &__text {
    display: flex;
    justify-content: space-between;
  }

  &__actions {
    display: flex;
    justify-content: end;
  }
}
