.new-notif {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--spacing-small);
  font-family: var(--typeface-main);

  &__form-body {
    display: flex;
    gap: var(--spacing-small);
    height: 100%;
  }

  &__text {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 100%;
    height: fit-content;
    padding: var(--spacing);
    gap: var(--spacing-medium);
    border-radius: var(--border-radius);
    background: linear-gradient(110deg, var(--color-primary-hover) 60%, var(--color-secondary) 60%);
  }

  &__settings {
    display: flex;
    flex-direction: column;
    width: 35%;
    gap: var(--spacing-small);
  }

  &__settings-section {
    display: flex;
    flex-direction: column;
    padding: var(--spacing);
    gap: var(--spacing-small);
    border-radius: var(--border-radius);
    background: linear-gradient(110deg, var(--color-primary-hover) 60%, var(--color-secondary) 60%);
  }

  &__settings-item {
    display: flex;
    flex-direction: column;
  }
}

.custom {
  height: 200px;
}

.control-buttons {
  display: flex;
  justify-content: end;
  gap: var(--spacing-small);
  padding-top: var(--spacing-small);
}
